extends layout

block content
    h1.red.text-center 프로그램 긴급정지

    p.text-center(style='white-space:pre;word-break:break-word;')
        | &nbsp;
        | 「하아…하아……」
        | 눈 앞에는 우리들을 프로그램에 내보낸 남자…사카모치 긴파츠의 시체가 널부러져 있다.
        | 이 자식이…이 자식 때문에 우리들은 프로그램에 끌려왔다.
        | 그것도 우리들의 의사와 관계없이, 강요뿐인 불합리한 폭력으로.
        | 옷을 뒤지자, 전자키 같은 것이 손에 만져졌다.
        | 이것을 사용하면…나도, 살아남은 모두도 이런 게임에서 해방된다…
        | 「………」
        | 하지만, 망설여졌다.
        | 이것으로 정말 괜찮은걸까? 정부에서 도망칠수 있는걸까?
        | 아니…그런 것은 나중에 생각하면 돼.
        | 어쨋거나, 클래스메이트와 서로 죽이는 바보같은 상황에서 해방된다면…
        | &nbsp;
        | 키를 사용하자 게임 종료의 전자음이 울리고, 목걸이가 철컥하고 시끄러운 소리를 내며 바닥에 떨어졌다.
        | 그리고, 지금까지 몇번이나 클래스메이트의 사망보고를 알렸다고 추측되는 마이크를 손에 들고, 심호흡한다.
        | 「프로그램은 끝났어! 이제 싸우지 않아도 돼!!」
        | &nbsp;
        | 내가 할 수 있는 일은 모두 했다.
        | 이후는 살아남은 모두가 각자 생각하면 되는 것.
        | 이런 곳에서 꾸물거리고 있을 시간은 없다.
        | 이제부터 프로그램 보다도 잔인한 현실이 우리들을 기다리고 있을테니까…
        | 앞으로의 일은 스스로 결정할 수밖에 없는 것이다…
        | &nbsp;
        | 「프로그램 긴급정지 용의자인 학생은 여전히……」
        | ……거리 위의 오로라비젼에 나오는 임시뉴스를, 한명의 소년이 바라보고 있었다.
        | 입술을 깨물고, 주먹을 쥐고, 진지한 표정으로.
        | 「힘내자…아무도 도와주지는 않을테니까 말이야…」
        | 다음에 흘러나온 뉴스를 무시하고, 소년은 인파를 거슬러 헤치며 달려나갔다.
        | &nbsp;
        | &nbsp;
        | &nbsp;
        | &nbsp;
        | &nbsp;
    include ./partial/credit

block content-footer