extends layout

block content
    p.text-center(style='white-space:pre;word-break:break-word;')
        | &nbsp;
        | 이 나라에는 어떤『프로그램』이 있다.
        | &nbsp;
        | <span class='red'>『공화국 전투실험 제 육십팔번 프로그램』</span>
        | &nbsp;
        | 전국의 중학교 3학년 반에서 무작위로 한반을 선별.
        | 클래스 메이트가 <span class='red'>『최후의 한명』</span>이 될때까지 싸운다.
        | 최후에 살아남는 학생만이 집으로 돌아갈수 있다는 <span class='red'>『살인게임』</span>이었다...
        | .
        | .
        | .
        | .
        | .
        | &nbsp;
    h1.red.text-center Express Royale

    include ./partial/alertMessage

    form(action='/', method='post')
        div.form-group
            label 이름
            input.form-control(type='text' name='username' placeholder='이름')
        div.form-group
            label 비밀번호
            input.form-control(type='password' name='password' placeholder='비밀번호')
        button.btn.btn-warning.btn-lg.bg-red(type='submit') 로그인

block content-footer