extends layout

block content
    h1.text-center.red 배틀로얄 게임 메뉴얼

    div.manual-block
        h5.red ■승리조건
        p 프로그램 개시 후, 일주일 안에 다른 참가자 전원을 없애고, 최후까지 살아남는다.

    div.manual-block
        h5.red ■참가 가능 인원
        p
            | 남자, 여자 각각 21명을 한반으로, 최대 4개 반까지 등록가능. (등록 가능한 반의 숫자는 변할 수 있습니다) <br />
            | 사망자도 인원으로 계산되기 때문에 주의할 것.

    div.manual-block
        h5.red ■커맨드 설명
        p 『이동』 - 현재 지역을 떠나, 다른 지역으로 이동한다. (스테미너 약 10 소비)
        p 『탐색』 - 현재 지역을 탐색한다. 이벤트나, 다른 플레이어와의 전투가 일어날 수 있음. (스테미너 약 20 소비)
        p 『아이템 사용/장비』 - 소지 아이템 사용, 장비를 한다. 아이템은 5개까지 소지할 수 있다.
        p 『아이템 버리기』 - 아이템을 버린다. 버린 아이템은 그 지역에 놓여진다.
        p 『아이템 정리/합성/장비』
        ol
            li 정리 : 같은 아이템을 하나로 합쳐서 가지고 다닌다. 독이 있는 아이템일 경우 모두 독이 들어가게 되니 주의.
            li 합성 : 두가지 아이템을 합쳐 새로운 아이템을 만든다.
            li 장비 해제/버리기 : 장비 아이템을 벗어서 배낭에 넣거나, 바로 버릴 수 있다.
        p 『치료』 - 상처를 치료해, 체력을 회복한다. 치료 상태에서는 적에게 발견될 확률이 증가하며, '돌아가기'를 선택 하거나, 재접속시에 치료상태는 해제된다. (1분 30초에 1포인트씩 증가)
        p 『수면』 - 수면을 취해, 스테미너를 회복한다. 수면 상태에서 '돌아가기'를 선택 하거나, 재접속시에 수면상태가 해제된다. (30초에 1포인트씩 증가)
        p 『응급처치』 - 부상 당한 부위를 치료한다. (스테미너 30 소비)
        p 『특수 커맨드』 - 특수 커맨드를 사용한다. 기본방침의 변경, 대사의 변경, 세이브 등을 할 수 있다.

    div.manual-block
        h5.red ■스테이터스 설명
        p 『아이콘』 - 플레이어의 얼굴.
        p 『이름』 - 이름과 레벨, 다음 레벨까지의 경험치를 나타낸다. 레벨이 올라 갈수록 최대 체력, 공격력, 방어력 상승.
        p 『체력』 - 현재 체력/최대 체력을 나타낸다. 0이 되면 사망.
        p 『스테미너』 - 현재 스테미너/최대 스테미너를 나타낸다. 0이 되면 최대 체력이 감소하니 주의.
        p 『공격력』 - 기본 공격력 + 무기 공격력을 나타낸다.
        p 『방어력』 - 기본 방어력 + 방어구 방어력을 나타낸다.
        p 『클럽』 - 플레이어가 속한 부를 나타낸다. 전학시에 자동 결정.
        p 『기본방침』 - 현재 중시하고 있는 분야를 나타낸다.
        p 『부상부위』 - 부상당한 곳을 나타낸다. 부상부위에 따라 여러가지 능력이 떨어진다. 응급처치로 치료가능.
        p 『숙련 레벨』 - 각 무기에 해당하는 숙련도가 표시된다. 무기 : Lv(숙련도).
        p  <br />
            | 『장비 표시』 - 장비하고 있는 무기와 각 부위의 방어구를 나타낸다.
        p 『아이템 표시』 - 현재 소지하고 있는 아이템을 나타낸다.

    div.manual-block
        h5.red ■아이템 설명
        p 빵 - 먹으면 스테미너가 어느정도 회복된다. 게임 시작시, 정부로부터 2개 지급받는다.
        p 물 - 마시면 체력이 어느정도 회복된다. 게임 시작시, 정부로부터 2개 지급받는다.
        p 간이 레이더 - 사용하면 자신이 있는 지역에 사람 수를 알 수 있다. 단, 누가 있는지는 알 수 없다.
        p 레이더 - 사용하면 각 지역에 있는 사람 수를 알 수 있다. 단, 누가 있는지는 알 수 없다.
        p 무기 - 게임 시작시, 랜덤으로 지급된다. 다른 플레이어를 죽이고, 뺏을 수도 있다.
        p 방어구 - 장비하면 방어력이 올라간다. 종류에 따라, 특정 무기의 데미지를 반감. 특정 무기에 약한 방어구의 경우도 있어, 그때는 데미지가 두배로.
        p 기타 - 이 게임에서는 많은 아이템이 존재한다. 그 효과는 대부분 불명.
        p ※아이템은 최대 5개를 가질 수 있는데, 5개를 가지고 있을때는 아이템을 발견해도 가질 수가 없다.

    div.manual-block
        h5.red ■전투설명
        p 지역 이동시, 또는 지역에서 탐색을 할 때, 다른 플레이어와 만나는 경우에 전투를 하게 된다. <br />
            | 이쪽이 먼저 발견한 경우, 선제 공격이 가능. <br />
            | 반대로 상대에게 발견당한 경우에는, 상대가 선제 공격하게 된다. <br />
            | 전투에서 상대를 죽인 경우, 상대가 가지고 있던 소지품, 장비, 방어구 중의 하나를 빼았을 수 있다. <br />
            | 단, 휴식중에 습격 받아, 반격으로 죽인 경우에는 소지품을 뺏을 수 없다.

    div.manual-block
        h5.red ■클럽(부활동)
        p 각 플레이어는 어떤 클럽에 가입(등록시에 랜덤으로 결정)하게 되어, 소속된 클럽에 따라서,<br />
            | 게임 시작시 무기 숙련도가 변동된다.

    div.manual-block
        h5.red ■전투
        p 전투는 상대를 먼저 발견한 쪽이 선제 공격을 하게 된다. 자신이 행동을 해서 상대를 발견한 경우,<br />
            | 『전투』『도망간다』『메시지』중에 선택 가능.<br />
            | 단, 『전투』는 사용중인 무기에 따라서, 찌른다, 벤다, 때린다, 던진다 등의 메시지로 표시된다.<br />
            | <br />
            | 『전투』 - 상대를 공격한다. 반격을 받을 가능성도 있다. 우물쭈물하고 있는 사이에, 상대가 도망치면, 공격할 수 없게 된다.
        p 『도망간다』 - 공격하지 않고, 도망간다. 경험치, 숙련도를 얻을 수 없다.
        p 『메시지』 - 공격할 때 메시지를 보낼 수 있다. 상대가 죽으면 볼 수 없다.

    div.manual-block
        h5.red ■기본방침
        p 일종의 전술로서 어떤 방식으로 진행할지 결정한다.<br />
            | 방침에 따라서 능력에 상당한 차이가 나므로, 필수적으로 알아둬야 한다.

        p 『보통』 - 일반적인 방침. 모든 능력이 평균적이고, 손해 보는 것도 없다.
        p 『공격중시』 - <span style='color:#8080ff;'>공격력 증가</span>, <span style='color:#ff8080;'>방어력 감소</span>.
        p 『방어중시』 - <span style='color:#ff8080;'>공격력 감소</span>, <span style='color:#8080ff;'>방어력 증가</span>, <span style='color:#ff8080;'>선제공격률 감소</span>, <span style='color:#ff8080;'>적에게 발견될 확률 증가</span>.
        p 『은밀행동』 - <span style='color:#ff8080;'>공격/방어력 감소</span>, <span style='color:#8080ff;'>선제 공격률 증가</span>, <span style='color:#ff8080;'>적 발견률 감소</span>, <span style='color:#8080ff;'>적에게 발견될 확률 감소</span>.
        p 『탐색행동』 - <span style='color:#ff8080;'>공격/방어력 감소</span>, <span style='color:#8080ff;'>선제 공격률 증가</span>, <span style='color:#8080ff;'>적 발견률 증가</span>, <span style='color:#ff8080;'>적에게 발견될 확률 증가</span>.
        p 『연속공격』 - 한번 공격한 상대는 그 상대가 어떤 행동을 하거나,<br />
            | 다른 플레이어에게 공격을 받을 때까지는 다시 공격할 수가 없다.<br />
            | 하지만, 연속공격 상태에서는 한번 공격했던 상대에게도 다시 몇번이든 공격이 가능하게 된다.<br />
            | <span style='color:#ff8080;'>방어력 감소</span>, <span style='color:#8080ff;'>적 발견률 증가</span>, <span style='color:#ff8080;'>적에게 발견될 확률 증가</span>. <span style='color:#ff8080;'>이동시 아이템 발견 불가능</span>.

    div.manual-block
        h5.red ■부상
        p 전투중에 일정확율로 부상을 입는 일이 생긴다. 부상부위에 따라 아래의 제약을 받게 된다.<br />
            | 단, 무기에 따라 부상당할 확율이나 부위가 다르다.<br />
            | 특정 방어구에 의해 부상을 방지할 수도 있다.<br />
            | 부상을 막을 경우에는 방어구의 내구도가 떨어져 파손된다.
        p 『머리』 - 공격 명중율이 저하.
        p 『팔』 - 공격력이 저하.
        p 『복부』 - 수면, 치료시의 회복력이 저하.
        p 『다리』 - 이동, 탐색시의 스테미너 소비 증가.
        p 부상은 『응급처치』 커맨드로 치료할 수가 있다. (한곳만)
            | 응급처치에는 스테미너가 30 소비된다.

    div.manual-block
        h5.red ■숙련도·숙련 레벨
        p 사용하는 무기의 종류마다 숙련도가 있어서, 그 무기로 상대를 공격할 때마다 숙련도가 올라간다.<br />
            | 숙련도는 무기가 빗나가도 올라간다. (공격하지 않고 도망갔을 때는 오르지 않는다)<br />
            | 숙련도가 어느정도 오르면 숙련 레벨이 오른다. 숙련되지 않는 무기로 전투를 하면, 그 무기의 힘을 100% 사용할 수 없다.<br />
            | 숙련된 무기를 사용하면 무기가 가진 힘을 넘어서는 효과를 발휘할 것이다.

    div.manual-block
        h5.red ■금지지역
        p 24시간마다 담임에 의해서 금지지역이 발표된다. (3군데)<br />
            | 시간이 됐을 때, 금지지역에 있는 플레이어는 목걸이가 폭발해 죽게 된다.

    div.manual-block
        h5.red ■무기
        p 총, 활 계열의 무기는 탄환, 화살을 장전하지 않으면, 둔기로 밖에 이용할 수 없다.<br />
            | 탄환은 총마다 다르며, 화살은 1발까지 장전가능. (장전법은 해당 무기를 장비한 상태에서 탄환/화살 사용)<br />
            | 무기는 일정확율로 부서질 수 있다.<br />
            | 부서진 무기는 다시 사용할 수 없기 때문에 맨손으로 싸워야 한다.<br />
            | 던져서 공격하는 무기는, 던진 후 부서지기 때문에 소모품이라고 봐야한다.
        p 베기 계열(칼) 무기는, 1/5 확율로 날이 무뎌져 공격력이 저하되어 간다.<br />
            | 특정 아이템을 얻는 것으로 공격력을 증가시킬 수 있다.

    div.manual-block
        h5.red ■덫
        p 어떤 아이템을 사용하는 것으로, 한지역에 덫을 설치할 수 있다.<br />
            | 덫에 의한 데미지는 변동되며, 자신이 설치한 덫에 걸릴 가능성도 있으므로,<br />
            | 덫을 설치할 때는 주의가 필요하다.

    div.manual-block
        h5.red ■주의사항
        p 게임 시작 후, 분교에 계속 남아 있으면, 0시에 목걸이가 폭발해 죽게 되니 주의.
        p 한번 공격한 상대는 그 상대가 커맨드를 실행하기 전까지,<br />
            | 또는 상대가 다른 플레이어에게 공격을 받기 전까지는 다시 공격할 수 없다.