extends layout

block content
    h1.red.text-center 우승자 결정

    p.text-center(style='white-space:pre;word-break:break-word;')
        | 갑자기 사이렌이 울리고, 거기에서 대동아공화국의 국가가 흘러나왔다.
        | 그리곤, 귀에 익숙한 목소리가 들려왔다.
        | &nbsp;
        | 「축하합니다. 당신이 우승자입니다. 정말 당신이 우승해서 기쁘군요.
        | 곧 마중나갈테니 기다리고 있어요」
        | &nbsp;
        | 지금, 눈 앞에서 숨을 거둔 인간이 마지막 한사람이었나?
        | 멍한 머리 속에서 새로운 담임의 방송이 들리고 있었다.
        | 정말 그런건가?
        | 혹시 아직 살아남은 자가 있고, 지금의 방송은 새로운 담임의 속임수가 아닐까?
        | 분명히, 이 프로그램은 정부 요인의 구경거리가 되어있겠고.
        | 그러나, 이 방송을 듣고 틱하고 긴장의 끈이 풀렸다.
        | 의식이 몽롱해져간다...
        | 그러고보니, 요 몇일동안 전혀 잠자지 않았구나...
        | .
        | .
        | .
        | 눈 앞에는 목만 남아있는 친구가 있다.
        | 「너는 역시 할 마음이 있었구나, 다른 사람을 죽이고 싶어 했었지?」
        | 뒤에는 몸이 절반 사라진 급우가 있었다.
        | 「믿자고, 모두 함께 살아남자고 말했던 건 당신이잖아!」
        | 오른쪽 암흑 속에서 목소리가 났다.
        | 「배신자!」
        | &nbsp;
        | 더이상 참지 못하고, 소리를 질렀다.
        | 「죽일 마음도 없었고, 모두 친구야! 그렇지만, 그렇지만... 살고 싶었어」
        | .
        | .
        | .
        | 몸이 흔들리는 것을 느끼고, 눈을 떴다.
        | 오른쪽을 보자, 전제군의 병사가 있었다. 호송차 안에 있는것 같다.
        | 무릎 위에는 색지가 놓여있었다.
        | 지렁이가 기어간 듯한 글씨로『우승, 축하! by 공화국총통』이라고 쓰여 있었다.
        | &nbsp;
        | 갑자기, 눈이 부셔 잠시동안 앞이 보이지 않게 되었다.
        | 매스컴 기자들이 호송차 주위에서 플래쉬를 터뜨리고 있다.
        | 호송차에 다가오는 자가 있었다. 손에는 마이크를 들고 있다.
        | 「··의 제·회 ·로·램은, ····군이··입니·. 인터·를 하고 싶·데요.
        | 우선, ·승한 ·감은?」
        | &nbsp;
        | 무슨 말인지 모르겠지만, 나에게 인터뷰를 요청하는 것 같다.
        | 그런가, 이 게임에서 우승한 것이다. 오늘 밤에라도 뉴스에 나오겠지.
        | 이어서 플래쉬가 터지는 순간. 어째서인지 엄지손가락을 세우고 있는 내가 있었다.
        | 그리고, 덧붙였다.
        | 「#{0 == user.userGender ? '남자' : '여자'}#{user.studentNo}번 #{user.username}」
        | 이름을 말하며, 엄지를 세우면서, 이렇게 생각하고 있는 내가 있었다.
        | 『다른 친구들의 몫까지 사는거야. 절대... 절대...』
        | 그것도... 웃는 얼굴로.
        | 그것이 내가 할 수 있는 클래스메이트에 대한 사죄라고 느끼니까.
        | 어쩐지.
        | 옆에서 보면 경련하는 듯한 웃는얼굴일지도 모르지만.
        | &nbsp;
        | 그리고, 가장 마지막의 클래스메이트를 말한 후에,
        | 왼쪽 귀의 그롬하츠 피어스를 잡아당겨 뺐다.
        | 「아얏」
        | 무심결에 소리를 질렀다.
        | 그리고, 왼쪽 귀에서는 피가 흘러 떨어졌다.
        | &nbsp;
        |  「모두와, 여기 함께 남아있어」
        | &nbsp;
        | 그런게 마음속으로 중얼거린 다음 순간,
        | 한가닥의 피와
        | 한가닥의 눈물과
        | 피어스는 하늘을 날고 있었다.
        | .
        | .
        | .
        | .
        | .
        | 그날 저녁, 신쥬쿠의 월터앞의 광장에는 언제나처럼 사람들이 모여 있었다.
        | 목적 없이 시간을 때우는 자들.
        | 휴대폰으로 열심히 이야기하고 있는 자들.
        | 실제로, 크게 비치는 월터비젼을 보고 있는 자는 적었다.
        | &nbsp;
        | 「요전에 시작되었던 프로그램의 우승자가 결정되었습니다!
        | 그럼, 현장으로부터 중계입니다」
        | 중계된 영상에는, 우승자의 모습이 있었다.
        | &nbsp;
        | 「이번 우승자는 이녀석인가. 웃는체하고 있어. 저런! 살인자놈」
        | 휴대폰으로 열심히 메시지를 쓰고 있던 젊은이가 얼굴을 들고 말했다.
        | 목을 기울이는 것에 따라, 왼쪽 귀의 은색 피어스가 흔들렸다.
        | 그에게는 우승자의 피눈물따윈 보일리 없다.
        | 물론, 얌전히 있는 클래스메이트의 이름도 듣지 않았다.
        | &nbsp;
        | 그러나, 그의 관심은 다른 면으로 바로 향했다.
        | 「오! 잘빠진 여잔데!」
        | 꼴사납게 땅바닥에 앉아있던 그는, 느릿한 움직임으로 일어나,
        | 혼자 있는 여자에게 다가갔다.
        | &nbsp;
        | &nbsp;
        |  하나의 그롬하츠 피어스는 네온을 빛나고,
        |  또 하나의 그롬하츠 피어스는...
        | &nbsp;
        | &nbsp;
        | &nbsp;
    div.text-right(style='white-space:pre;')
        | Now "Only one student remain".
        | Surely One can be loneliness.
        | But there is hope.
        | &nbsp;
        hr
        | &nbsp;
    include ./partial/credit

block content-footer