extends layout

block content
    h1.red.text-center 프로그램 긴급정지

    p.text-center(style='white-space:pre;word-break:break-word;')
        | 갑자기 사이렌 소리가 귀를 때렸다.
        | 우승자가 결전된건가...? 아니, 확실히 아직 살아 남은 클래스메이트가 있을텐데...
        | 그렇게 생각하고 있었는데, 자주 들어 익숙한 클래스메이트의 목소리가 주변에 울려퍼졌다.
        | 「프로그램은 끝났다! 이제 싸우지 않아도 돼!!」
        | &nbsp;
        | 믿을 수 없었다.
        | 이 악마의 프로그램에서 빠져나가다니. 그러나, 우리들은 이제부터 어떻게하면 되지?
        | 클래스메이트와 함께 정부에 대항?
        | 아니면 뿔뿔이 흩어져, 각자 힘을 모은다?
        | 어쨋든 아무것도 생각하지 않고 집으로 돌아간다?
        | 생각할 시간은 없었다. 금지지역의 해제는 오늘밤 0:00으로 원래대로 돌아간다.
        | 게다가, 꾸물거리고 있으면 프로그램 실행본부의 병사들이, 우리들을 처형하러 올 것이다.
        | 「………」
        | 우선은 우리들을 이곳에 묶어두고 있던 목걸이를 벗었다.
        | 무기를 버리고, 크게 심호흡하고……
        | &nbsp;
        | 어쨋든 여기서 도망치자.
        | 이제부터의 일은 그 후에 생각해도 늦지 않다.
        | 우리들은『희망』인것이다. 이 악마의 프로그램, 세기의 악법에 맞서는『희망』
        | 절망 속에서 생겨난 희망일지도 모르지만... 갈 수 있는 곳까지 가주지!
        | 쓰러질때까지 계속 달려주겠어……!!
        | &nbsp;
        | &nbsp;
        | 「프로그램 긴급정지후, 대회장에서 도망친 소년들은 여전히……」
        | ……거리 위의 오로라비젼에 나오는 임시뉴스를, 한명의 소년이 바라보고 있었다.
        | 입술을 깨물고, 주먹을 쥐고, 진지한 표정으로.
        | 「달리는거야…! 갈 수 있는 곳까지 가자!」
        | 다음에 흘러나온 뉴스를 무시하고, 소년은 인파를 거슬러 헤치며 달려나갔다.
        | &nbsp;
        | &nbsp;
        | &nbsp;
        | &nbsp;
        | &nbsp;
        | &nbsp;
        | &nbsp;
    include ./partial/credit

block content-footer