extends layout

block content
    div.row(ng-app='expressRoyale')
        h2.red.text-center(ng-model='placeName') {{placeName}}
        div.col-sm-8
            h5.text-center.bg-black-red.padding5px 스테이터스
            div.row
                div.col-sm-6
                    table.table.table-bordered
                        colgroup
                            col(style='width:90px')
                            col
                        tbody
                            tr
                                td
                                    img(src=user.userIcon alt='')
                                td.text-center
                                    | #{user.username}<br />
                                    | {{level}}<br />
                                    | {{exp}}
                            tr
                                th 체력
                                td.health {{health}}
                            tr
                                th 스테미너
                                td.stamina {{stamina}}
                            tr
                                th 공격력
                                td {{attack}}
                            tr
                                th 방어력
                                td {{defence}}
                            tr
                                th 클럽
                                td #{user.clubName}
                            tr
                                th 기본방침
                                td {{tactics}}
                            tr
                                th 부상부위
                                td {{injured}}
                div.col-sm-6
                    dl.dl-horizontal.small-dl.bg-equip
                        dt.equip-weapon [무기]
                        dd.equip-weapon {{weapon}}
                        dt.equip-armor [방어]
                        dd.equip-armor {{armorBody}}
                        dt.equip-armor [머리]
                        dd.equip-armor {{armorHead}}
                        dt.equip-armor [팔]
                        dd.equip-armor {{armorArm}}
                        dt.equip-armor [다리]
                        dd.equip-armor {{armorFeet}}
                        dt.equip-armor [장식]
                        dd.equip-armor {{armorAccessory}}
                    ul.list-unstyled
                        li {{item0}}
                        li {{item1}}
                        li {{item2}}
                        li {{item3}}
                        li {{item4}}
                        li {{item5}}
            ul.list-inline.solid-bordered.padding3px
                li.list-inline-custom 총：{{gunSkill}}
                li.list-inline-custom 칼：{{cutSkill}}
                li.list-inline-custom 던지기：{{throwSkill}}
                li.list-inline-custom 때리기：{{fistSkill}}
                li.list-inline-custom 활 : {{bowSkill}}
                li.list-inline-custom 곤봉 : {{meleeSkill}}
                li.list-inline-custom 폭탄 : {{bombSkill}}
                li.list-inline-custom 찌르기 : {{pokeSkill}}
            p.solid-bordered.status-log(ng-model='status')

        div.col-sm-4
            h5.text-center.bg-black-red.padding5px 커맨드
            div.text-center.padding5px
                select(ng-model='findSelector')
            p.padding5px 무엇을 합니까?
            ul.list-unstyled
                li
                    label
                        input.vertical-text-bottom(type='radio', name='cmd', ng-model='cmdFind' )
                        span.padding5px 탐색
                li
                    label
                        input.vertical-text-bottom(type='radio', name='cmd', ng-model='cmdItem')
                        span.padding5px 아이템 정리/합성/장비
                li
                    label
                        input.vertical-text-bottom(type='radio', name='cmd', ng-model='cmdHeal')
                        span.padding5px.health 치료
                li
                    label
                        input.vertical-text-bottom(type='radio', name='cmd', ng-model='cmdSleep')
                        span.padding5px.stamina 수면
                li
                    label
                        input.vertical-text-bottom(type='radio', name='cmd', ng-model='cmdFirstAid')
                        span.padding5px 응급처치
                li
                    label
                        input.vertical-text-bottom(type='radio', name='cmd', ng-model='cmdExtra')
                        span.padding5px 특수 커맨드
                    //
                        label
                            | (
                            input.vertical-text-bottom(type='radio' name='cmd-drop' ng-model='cmd-drop1')
                            span.padding5px 버림
                            | )

            input.btn.btn-warning.bg-red(type='button', ng-model='cmdExec', value='확인')


block content-footer
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js')
    script(type='text/javascript' src='//cdn.socket.io/socket.io-1.2.0.js')
    script(type='text/javascript' src='//code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript' src='/javascripts/localApp.js')