extends layout

block content
    div.row
        h2#currentPlace.red.text-center
        div.col-sm-8
            h5.text-center.bg-black-red.padding5px 스테이터스
            div#battleInfo
            div.row
                div#characterInfo.col-sm-6
                div#equipItem.col-sm-6
            div#currentSkills
            div#logger

        div.col-sm-4
            h5.text-center.bg-black-red.padding5px 커맨드
            div#placeSelector.text-center.padding5px
            div#commander

block content-header
    script(src='//cdn.socket.io/socket.io-1.2.0.js')
    script(src='//fb.me/react-0.14.3.min.js')
    script(src='//fb.me/react-dom-0.14.3.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')

block content-footer
    script(type='text/babel', src='/javascripts/controller.js')