extends layout

block content
    h1.red.text-center 등록종료

    p.text-center(style='white-space:pre;word-break:break-word;')
        | 눈을 뜨자, 교실 같은 곳에 있었다. 분명 수학여행에 갔는데...?
        | 「맞아, 수학여행 가는 버스 안에서 갑자기 졸음이 와서...」
        | 주위를 둘러보자, 다른 학생들도 있는 것 같다. 자세히 보자, 모두 은색의 목걸이가 채워져 있는 것을 깨달았다.
        | 자신의 목을 만지자, 차가운 금속의 느낌이 전해져 왔다.
        | 모두와 같은, 저 은색 목걸이가 채워져 있었다.
        | &nbsp;
        | 갑자기, 앞에 문에서 한사람의 남자가 들어왔다...
        | &nbsp;
        | &nbsp;
        | 『그럼, 설명하겠습니다. 모두 여기에 오게된것은 다름이 아니라...
        | 오늘, 여러분에게 서로 죽이게 하기 위해서입니다.
        | &nbsp;
        | 반항하거나, 그 목걸이를 벗기거나, 탈출하려고 시도한 경우는 그 자리에서 죽는다고 생각하십시오.
        | &nbsp;
        | 여러분은, 올해의 "프로그램" 대상 클래스로 선택되었습니다.
        | &nbsp;
        | 규칙은 간단합니다. 서로, 죽여주면 되는겁니다.
        | 반칙은 없습니다.
        | 아아, 제가 잊었습니다만, 이곳은 섬입니다.
        | &nbsp;
        | 알겠습니까? 여기는 이 섬의 분교입니다.
        | 저는, 여기에서 계속 있을테니까. 모두 힘내세요, 지켜봐줄테니까.
        | &nbsp;
        | 자, 됐죠. 여길 나가면 어디로 가도 상관없습니다.
        | 그렇지만, 매일 0시에, 섬 전체에 방송을 합니다. 하루 한번이요.
        | &nbsp;
        | 거기서, 여러분이 가지고 있는 지도에 따라, 몇시부터 이 지역은 위험하다,
        | 라고 알려줍니다.
        | 지도를 잘 보고, 나침반과 지형을 참조해,
        | 신속히 그 지역을 나와 주세요.
        | &nbsp;
        | 어째서냐고 한다면, 그 목걸이가 폭발하기 때문입니다.
        | &nbsp;
        | 알겠습니까. 그러니까, 건물 안에 있어도 안되요.
        | 굴 속에서 숨어 있어도 전파는 닿습니다.
        | 아, 그래그래, 생각난 김에. 건물 안에 숨는것은 자유입니다.
        | &nbsp;
        | 아, 그리고 또 하나. 시간제한이 있습니다.
        | 알겠습니까, 시간제한입니다.
        | &nbsp;
        | 프로그램에서는, 점점 사람이 죽습니다만, 3일 동안 죽은 사람이 아무도 없다면,
        | 그것으로 끝입니다. 또 몇명 남아 있어도, 컴퓨터가 작동해서,
        | 남아있는 사람 전원의 목걸이가 폭발합니다. 우승자는 없습니다.
        | &nbsp;
        | 자, 그럼 한명씩, 이 배낭을 가지고 교실을 나가세요.』
        | &nbsp;
        | &nbsp;
        a(href='/game') 교실을 나간다

block content-footer