extends layout

block content
    h1.text-center.red 이미 죽어있습니다.
    p.text-center(style='white-space:pre;')
        | 사인:#{deathCause}
    p.text-center(style='color:#00ff00')
        strong #{messageDying}