extends layout

block content
    div.row
        div.col-sm-6
            div.well
                h3
                    span.fa.fa-user
                    | &nbsp; Local
                p
                    strong id
                    | : #{user._id}
                    br
                    strong email
                    | : #{user.local.email}
                    br
                    strong password
                    | : #{user.local.password}

block content-footer