body {
    background: #000000;
    color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #f03020;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.red {
    color: #ff0000;
}

.bg-red, .bg-red:hover, .bg-red:focus {
    background: #ff0000;
    border: #ff0000;
}