body {
    background: #000000;
    color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #f03020;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.red {
    color: #ff0000;
}

.stamina {
    color: #ffccaa;
}

.health {
    color: #ccffcc;
}

.weapon {
    color: #ccaaff;
}

.armor {
    color: #ffaaaa;
}

.equip-weapon {
    color: #ddccff;
}

.equip-armor {
    color: #ffcccc;
}

.bg-equip {
    background: #202080;
}

.bg-red, .bg-red:hover, .bg-red:focus {
    background: #ff0000;
    border: #ff0000;
}

.bg-black-red {
    background: #AA0000
}

.margin3px {
    margin: 0 3px;
}

.margin5px {
    margin: 0 5px;
}

.padding3px {
    padding: 3px;
}

.padding5px {
    padding: 5px;
}

.table-battle th,
.table-battle td {
    text-align: center;
    vertical-align: middle !important;
}

.vertical-text-bottom {
    vertical-align: text-bottom;
}

.small-dl {
    margin: 0;
    padding: 3px 0;
}

.small-dl dt {
    width: 50px;
}

.small-dl dd {
    margin-left: 60px;
}

.solid-bordered {
    border: solid 1px;
}

.list-inline-custom {
    width: 150px;
    padding: 0 5px !important;
    font-size: 12px;
}

.status-log {
    padding: 5px;
    white-space: pre;
    height: 10em;
    word-break: break-all;
    word-wrap: break-word;
    overflow-y: auto;
}

option.restrict {
    color: #ff0000;
}

option.restrict-reserve {
    color: #ff8000;
}

#battleInfo {
    margin-bottom: 10px;
}

#battleInfo h5 {
    padding:1em 0;
}

#battleInfo .row {
    margin:0 !important;
    min-height:20em;
}

/* Absolute Center Spinner */
#loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
#loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}