p.text-center(style='white-space:pre;')
    | 제작총지휘
    | &nbsp;
    | tanatos
    | &nbsp;
    | Special Thanks
    | &nbsp;
    | 神谷榮和氏 (讀む前のバトロワ)
    | &nbsp;
    | 箕輪氏 (心の扉)
    | &nbsp;
    | くらげ＆けるぷ氏 <a href="http://homepage1.nifty.com/kurage-ya/" target='_blank'>(くらげ屋)</a>
    | &nbsp;
h3.red.text-center
    a(href='/') T H E E N D
